.blue {
	color: blue;
}
  
.bold {
	font-weight: bold;
}

.Instructions button {
	background-color: green;
	color: white;
	padding: 12px;
	margin: .5rem;
	cursor: pointer;
	width: 10%;
}

.Instructions button:hover {
	background-color: lightgreen;
	color: black;
}

.Instructions button.Red {
	background-color: red;
}

.Instructions button.Red:hover {
	background-color: salmon;
}
